.button-container {
    display: flex;
    justify-content: space-around;
  }
  
  .button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
  box-shadow: 2px 2px 4px #282828;
  border-radius: 10px;
  }
  